<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Shop bán máy tính LQK</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/Assets/client/css/customer.css" rel="stylesheet" />
    <link href="/Assets/client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Assets/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="/Assets/client/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Assets/admin/libs/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />
    <!-- //font-awesome icons -->
    <!-- js -->
    @*<script lang="javascript">
        (function () {
            var pname = ((document.title != '') ? document.title : document.querySelector('h1').innerHTML);
            var ga = document.createElement('script'); ga.type = 'text/javascript';
            ga.async = 1; ga.src = '//live.vnpgroup.net/js/web_client_box.php?hash=37e0fe14771eed373b8bc1ba53b2a1e4&data=eyJzc29faWQiOjQ2NDMwMzQsImhhc2giOiJiZmIyMjlmMzBlNmRmOGFmMTVlZjUwYTU1YTI1YTBhZCJ9&pname=' + pname; var s = document.getElementsByTagName('script');
            s[0].parentNode.insertBefore(ga, s[0]);
        })();
    </script>*@	
    <script src="/Assets/client/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    
    <script type="text/javascript" src="/Assets/client/js/move-top.js"></script>
    <script type="text/javascript" src="/Assets/client/js/easing.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- header -->
   @{ Html.RenderAction("Header", "Home");}
    <!-- script-for sticky-nav -->
    <script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop();
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });

	});
    </script>
    <!-- //script-for sticky-nav -->
    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left">
                <h1><a href="/"> Shop </a></h1>
            </div>
            <div class="w3ls_logo_products_left1">
                <ul class="special_items">
                    <li><a href="#">Sự kiện</a><i>/</i></li>
                    <li><a href="/gioi-thieu.html">Giới thiệu</a><i>/</i></li>
                    <li><a href="/san-pham.html">Sản phẩm</a><i>/</i></li>
                    <li><a href="#">Dịch vụ</a></li>
                </ul>
            </div>
            <div class="w3ls_logo_products_left1" style="float:right">
                <ul class="phone_email">
                    <li><i class="fa fa-phone" aria-hidden="true"></i>(+0123) 234 567</li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:tthnhanit@gmail.com">tthnhanit@gmail.com</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- banner -->
    <div class="banner" style="margin: 0 auto;width: 85%;">
       @{ Html.RenderAction("Category", "Home");}
       @RenderBody()
        <div class="clearfix"></div>
    </div>
    @RenderSection("homeProduct", required: false)
    <!-- banner -->
   
   @{ Html.RenderAction("Footer", "Home");}
    <!-- Bootstrap Core JavaScript -->
    <script src="/Assets/client/js/bootstrap.min.js"></script>
    <script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>
    <!-- //here ends scrolling icon -->
    <script src="/Assets/client/js/minicart.min.js"></script>
    <script src="/Assets/admin/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="/Assets/admin/libs/mustache/mustache.js"></script>
    <script src="/Assets/admin/libs/numeral/numeral.js"></script>
    <script src="/Assets/client/js/controller/shoppingCart.js"></script>
    <script src="/Assets/admin/libs/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/Assets/admin/libs/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/Assets/client/js/common.js"></script>
    
    <script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
    </script>
    @RenderSection("footerJS", required: false);
</body>
</html>