
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<div class="w3l_banner_nav_right">
    <div class="w3l_banner_nav_right_banner3">
        <h3>Sản phẩm mới dành cho bạn!<span class="blink_me"></span></h3>
    </div>
    <div class="w3ls_w3l_banner_nav_right_grid">
            <h3>Chúc mừng bạn đã đăng ký thàng công.<span class="blink_me"></span>
        <br/>
        Bạn có muốn <a href="/dang-nhap.html" style="color:blue">trở về</a> đăng nhập.
        </h3>
    </div>
</div>

